# Caminhos de Dados e Logs
DATA_PATH=./data
LOG_PATH=./logs
DATABASE_URL=duckdb:///data/gold/paa_observatorio.duckdb

# Configurações de Foco
UF_FOCO=RN
IBGE_PREFIX_RN=24

# URLs de Referência (PAA - Conab)
URL_PAA_DADOS_ABERTOS=https://dados.gov.br/dados/conjuntos-dados/programa-de-aquisi-o-de-alimentos-paa
URL_CONAB_PAA=https://www.conab.gov.br/info-agro/paa

# API Keys (Se necessário no futuro para CECAD/MDS)
# MDS_API_TOKEN=seu_token_aqui
